@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    // $color-config: mat.get-color-config($theme);
  
    // $primary-palette: map-get($color-config, 'primary');
  
    // .soft-drinks-container {
    //   background-color: mat.get-color-from-palette($primary-palette, 50);
    // }
  }

  @mixin theme($theme) {
    @include color($theme)
  }


  $a: (
    color: (
      primary: (
        50: #ffffed,
        100: #ffffdb,
        200: #ffffc8,
        300: #ffffb6,
        400: #ffffa3,
        500: #ffff91,
        600: #ffff7e,
        700: #ffff6c,
        800: #ffff59,
        900: #ffff47,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffd1,
        A700: #ffffb8,
        contrast: (
          50: rgba(0, 0, 0, 0.87),
          100: rgba(0, 0, 0, 0.87),
          200: rgba(0, 0, 0, 0.87),
          300: rgba(0, 0, 0, 0.87),
          400: rgba(0, 0, 0, 0.87),
          500: rgba(0, 0, 0, 0.87),
          600: rgba(0, 0, 0, 0.87),
          700: rgba(0, 0, 0, 0.87),
          800: rgba(0, 0, 0, 0.87),
          900: rgba(0, 0, 0, 0.87),
          A100: rgba(0, 0, 0, 0.87),
          A200: rgba(0, 0, 0, 0.87),
          A400: rgba(0, 0, 0, 0.87),
          A700: rgba(0, 0, 0, 0.87),
        ),
        default: #ffff91,
        lighter: #ffffdb,
        darker: #ffff6c,
        text: #ffff91,
        default-contrast: rgba(0, 0, 0, 0.87),
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: rgba(0, 0, 0, 0.87),
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": rgba(0, 0, 0, 0.87),
        "600-contrast": rgba(0, 0, 0, 0.87),
        "700-contrast": rgba(0, 0, 0, 0.87),
        "800-contrast": rgba(0, 0, 0, 0.87),
        "900-contrast": rgba(0, 0, 0, 0.87),
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": rgba(0, 0, 0, 0.87),
        "A400-contrast": rgba(0, 0, 0, 0.87),
        "A700-contrast": rgba(0, 0, 0, 0.87),
        "contrast-contrast": null,
      ),
      accent: (
        50: #fce4ec,
        100: #f8bbd0,
        200: #f48fb1,
        300: #f06292,
        400: #ec407a,
        500: #e91e63,
        600: #d81b60,
        700: #c2185b,
        800: #ad1457,
        900: #880e4f,
        A100: #ff80ab,
        A200: #ff4081,
        A400: #f50057,
        A700: #c51162,
        contrast: (
          50: rgba(0, 0, 0, 0.87),
          100: rgba(0, 0, 0, 0.87),
          200: rgba(0, 0, 0, 0.87),
          300: rgba(0, 0, 0, 0.87),
          400: rgba(0, 0, 0, 0.87),
          500: white,
          600: white,
          700: white,
          800: white,
          900: white,
          A100: rgba(0, 0, 0, 0.87),
          A200: white,
          A400: white,
          A700: white,
        ),
        default: #ff4081,
        lighter: #ff80ab,
        darker: #f50057,
        text: #ff4081,
        default-contrast: white,
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": white,
        "A400-contrast": white,
        "A700-contrast": white,
        "contrast-contrast": null,
      ),
      warn: (
        50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d50000,
        contrast: (
          50: rgba(0, 0, 0, 0.87),
          100: rgba(0, 0, 0, 0.87),
          200: rgba(0, 0, 0, 0.87),
          300: rgba(0, 0, 0, 0.87),
          400: rgba(0, 0, 0, 0.87),
          500: white,
          600: white,
          700: white,
          800: white,
          900: white,
          A100: rgba(0, 0, 0, 0.87),
          A200: white,
          A400: white,
          A700: white,
        ),
        default: #f44336,
        lighter: #ffcdd2,
        darker: #d32f2f,
        text: #f44336,
        default-contrast: white,
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": white,
        "A400-contrast": white,
        "A700-contrast": white,
        "contrast-contrast": null,
      ),
      is-dark: false,
      foreground: (
        base: black,
        divider: rgba(0, 0, 0, 0.12),
        dividers: rgba(0, 0, 0, 0.12),
        disabled: rgba(0, 0, 0, 0.38),
        disabled-button: rgba(0, 0, 0, 0.26),
        disabled-text: rgba(0, 0, 0, 0.38),
        elevation: black,
        hint-text: rgba(0, 0, 0, 0.38),
        secondary-text: rgba(0, 0, 0, 0.54),
        icon: rgba(0, 0, 0, 0.54),
        icons: rgba(0, 0, 0, 0.54),
        text: rgba(0, 0, 0, 0.87),
        slider-min: rgba(0, 0, 0, 0.87),
        slider-off: rgba(0, 0, 0, 0.26),
        slider-off-active: rgba(0, 0, 0, 0.38),
      ),
      background: (
        status-bar: #e0e0e0,
        app-bar: #f5f5f5,
        background: #fafafa,
        hover: rgba(0, 0, 0, 0.04),
        card: white,
        dialog: white,
        disabled-button: rgba(0, 0, 0, 0.12),
        raised-button: white,
        focused-button: rgba(0, 0, 0, 0.12),
        selected-button: #e0e0e0,
        selected-disabled-button: #bdbdbd,
        disabled-button-toggle: #eeeeee,
        unselected-chip: #e0e0e0,
        disabled-list-option: #eeeeee,
        tooltip: #616161,
      ),
    ),
    primary: (
      50: #ffffed,
      100: #ffffdb,
      200: #ffffc8,
      300: #ffffb6,
      400: #ffffa3,
      500: #ffff91,
      600: #ffff7e,
      700: #ffff6c,
      800: #ffff59,
      900: #ffff47,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffffd1,
      A700: #ffffb8,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        600: rgba(0, 0, 0, 0.87),
        700: rgba(0, 0, 0, 0.87),
        800: rgba(0, 0, 0, 0.87),
        900: rgba(0, 0, 0, 0.87),
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: rgba(0, 0, 0, 0.87),
      ),
      default: #ffff91,
      lighter: #ffffdb,
      darker: #ffff6c,
      text: #ffff91,
      default-contrast: rgba(0, 0, 0, 0.87),
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: rgba(0, 0, 0, 0.87),
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": rgba(0, 0, 0, 0.87),
      "600-contrast": rgba(0, 0, 0, 0.87),
      "700-contrast": rgba(0, 0, 0, 0.87),
      "800-contrast": rgba(0, 0, 0, 0.87),
      "900-contrast": rgba(0, 0, 0, 0.87),
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": rgba(0, 0, 0, 0.87),
      "A400-contrast": rgba(0, 0, 0, 0.87),
      "A700-contrast": rgba(0, 0, 0, 0.87),
      "contrast-contrast": null,
    ),
    accent: (
      50: #fce4ec,
      100: #f8bbd0,
      200: #f48fb1,
      300: #f06292,
      400: #ec407a,
      500: #e91e63,
      600: #d81b60,
      700: #c2185b,
      800: #ad1457,
      900: #880e4f,
      A100: #ff80ab,
      A200: #ff4081,
      A400: #f50057,
      A700: #c51162,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #ff4081,
      lighter: #ff80ab,
      darker: #f50057,
      text: #ff4081,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: false,
    foreground: (
      base: black,
      divider: rgba(0, 0, 0, 0.12),
      dividers: rgba(0, 0, 0, 0.12),
      disabled: rgba(0, 0, 0, 0.38),
      disabled-button: rgba(0, 0, 0, 0.26),
      disabled-text: rgba(0, 0, 0, 0.38),
      elevation: black,
      hint-text: rgba(0, 0, 0, 0.38),
      secondary-text: rgba(0, 0, 0, 0.54),
      icon: rgba(0, 0, 0, 0.54),
      icons: rgba(0, 0, 0, 0.54),
      text: rgba(0, 0, 0, 0.87),
      slider-min: rgba(0, 0, 0, 0.87),
      slider-off: rgba(0, 0, 0, 0.26),
      slider-off-active: rgba(0, 0, 0, 0.38),
    ),
    background: (
      status-bar: #e0e0e0,
      app-bar: #f5f5f5,
      background: #fafafa,
      hover: rgba(0, 0, 0, 0.04),
      card: white,
      dialog: white,
      disabled-button: rgba(0, 0, 0, 0.12),
      raised-button: white,
      focused-button: rgba(0, 0, 0, 0.12),
      selected-button: #e0e0e0,
      selected-disabled-button: #bdbdbd,
      disabled-button-toggle: #eeeeee,
      unselected-chip: #e0e0e0,
      disabled-list-option: #eeeeee,
      tooltip: #616161,
    ),
    _mat-theming-internals-do-not-access: (
      theme-version: 0,
      m2-config: (
        color: (
          primary: (
            50: #ffffed,
            100: #ffffdb,
            200: #ffffc8,
            300: #ffffb6,
            400: #ffffa3,
            500: #ffff91,
            600: #ffff7e,
            700: #ffff6c,
            800: #ffff59,
            900: #ffff47,
            A100: #ffffff,
            A200: #ffffff,
            A400: #ffffd1,
            A700: #ffffb8,
            contrast: (
              50: rgba(0, 0, 0, 0.87),
              100: rgba(0, 0, 0, 0.87),
              200: rgba(0, 0, 0, 0.87),
              300: rgba(0, 0, 0, 0.87),
              400: rgba(0, 0, 0, 0.87),
              500: rgba(0, 0, 0, 0.87),
              600: rgba(0, 0, 0, 0.87),
              700: rgba(0, 0, 0, 0.87),
              800: rgba(0, 0, 0, 0.87),
              900: rgba(0, 0, 0, 0.87),
              A100: rgba(0, 0, 0, 0.87),
              A200: rgba(0, 0, 0, 0.87),
              A400: rgba(0, 0, 0, 0.87),
              A700: rgba(0, 0, 0, 0.87),
            ),
            default: #ffff91,
            lighter: #ffffdb,
            darker: #ffff6c,
            text: #ffff91,
            default-contrast: rgba(0, 0, 0, 0.87),
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: rgba(0, 0, 0, 0.87),
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": rgba(0, 0, 0, 0.87),
            "600-contrast": rgba(0, 0, 0, 0.87),
            "700-contrast": rgba(0, 0, 0, 0.87),
            "800-contrast": rgba(0, 0, 0, 0.87),
            "900-contrast": rgba(0, 0, 0, 0.87),
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": rgba(0, 0, 0, 0.87),
            "A400-contrast": rgba(0, 0, 0, 0.87),
            "A700-contrast": rgba(0, 0, 0, 0.87),
            "contrast-contrast": null,
          ),
          accent: (
            50: #fce4ec,
            100: #f8bbd0,
            200: #f48fb1,
            300: #f06292,
            400: #ec407a,
            500: #e91e63,
            600: #d81b60,
            700: #c2185b,
            800: #ad1457,
            900: #880e4f,
            A100: #ff80ab,
            A200: #ff4081,
            A400: #f50057,
            A700: #c51162,
            contrast: (
              50: rgba(0, 0, 0, 0.87),
              100: rgba(0, 0, 0, 0.87),
              200: rgba(0, 0, 0, 0.87),
              300: rgba(0, 0, 0, 0.87),
              400: rgba(0, 0, 0, 0.87),
              500: white,
              600: white,
              700: white,
              800: white,
              900: white,
              A100: rgba(0, 0, 0, 0.87),
              A200: white,
              A400: white,
              A700: white,
            ),
            default: #ff4081,
            lighter: #ff80ab,
            darker: #f50057,
            text: #ff4081,
            default-contrast: white,
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: white,
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": white,
            "600-contrast": white,
            "700-contrast": white,
            "800-contrast": white,
            "900-contrast": white,
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": white,
            "A400-contrast": white,
            "A700-contrast": white,
            "contrast-contrast": null,
          ),
          warn: (
            50: #ffebee,
            100: #ffcdd2,
            200: #ef9a9a,
            300: #e57373,
            400: #ef5350,
            500: #f44336,
            600: #e53935,
            700: #d32f2f,
            800: #c62828,
            900: #b71c1c,
            A100: #ff8a80,
            A200: #ff5252,
            A400: #ff1744,
            A700: #d50000,
            contrast: (
              50: rgba(0, 0, 0, 0.87),
              100: rgba(0, 0, 0, 0.87),
              200: rgba(0, 0, 0, 0.87),
              300: rgba(0, 0, 0, 0.87),
              400: rgba(0, 0, 0, 0.87),
              500: white,
              600: white,
              700: white,
              800: white,
              900: white,
              A100: rgba(0, 0, 0, 0.87),
              A200: white,
              A400: white,
              A700: white,
            ),
            default: #f44336,
            lighter: #ffcdd2,
            darker: #d32f2f,
            text: #f44336,
            default-contrast: white,
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: white,
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": white,
            "600-contrast": white,
            "700-contrast": white,
            "800-contrast": white,
            "900-contrast": white,
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": white,
            "A400-contrast": white,
            "A700-contrast": white,
            "contrast-contrast": null,
          ),
          is-dark: false,
          foreground: (
            base: black,
            divider: rgba(0, 0, 0, 0.12),
            dividers: rgba(0, 0, 0, 0.12),
            disabled: rgba(0, 0, 0, 0.38),
            disabled-button: rgba(0, 0, 0, 0.26),
            disabled-text: rgba(0, 0, 0, 0.38),
            elevation: black,
            hint-text: rgba(0, 0, 0, 0.38),
            secondary-text: rgba(0, 0, 0, 0.54),
            icon: rgba(0, 0, 0, 0.54),
            icons: rgba(0, 0, 0, 0.54),
            text: rgba(0, 0, 0, 0.87),
            slider-min: rgba(0, 0, 0, 0.87),
            slider-off: rgba(0, 0, 0, 0.26),
            slider-off-active: rgba(0, 0, 0, 0.38),
          ),
          background: (
            status-bar: #e0e0e0,
            app-bar: #f5f5f5,
            background: #fafafa,
            hover: rgba(0, 0, 0, 0.04),
            card: white,
            dialog: white,
            disabled-button: rgba(0, 0, 0, 0.12),
            raised-button: white,
            focused-button: rgba(0, 0, 0, 0.12),
            selected-button: #e0e0e0,
            selected-disabled-button: #bdbdbd,
            disabled-button-toggle: #eeeeee,
            unselected-chip: #e0e0e0,
            disabled-list-option: #eeeeee,
            tooltip: #616161,
          ),
        ),
        primary: (
          50: #ffffed,
          100: #ffffdb,
          200: #ffffc8,
          300: #ffffb6,
          400: #ffffa3,
          500: #ffff91,
          600: #ffff7e,
          700: #ffff6c,
          800: #ffff59,
          900: #ffff47,
          A100: #ffffff,
          A200: #ffffff,
          A400: #ffffd1,
          A700: #ffffb8,
          contrast: (
            50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: rgba(0, 0, 0, 0.87),
            600: rgba(0, 0, 0, 0.87),
            700: rgba(0, 0, 0, 0.87),
            800: rgba(0, 0, 0, 0.87),
            900: rgba(0, 0, 0, 0.87),
            A100: rgba(0, 0, 0, 0.87),
            A200: rgba(0, 0, 0, 0.87),
            A400: rgba(0, 0, 0, 0.87),
            A700: rgba(0, 0, 0, 0.87),
          ),
          default: #ffff91,
          lighter: #ffffdb,
          darker: #ffff6c,
          text: #ffff91,
          default-contrast: rgba(0, 0, 0, 0.87),
          lighter-contrast: rgba(0, 0, 0, 0.87),
          darker-contrast: rgba(0, 0, 0, 0.87),
          "50-contrast": rgba(0, 0, 0, 0.87),
          "100-contrast": rgba(0, 0, 0, 0.87),
          "200-contrast": rgba(0, 0, 0, 0.87),
          "300-contrast": rgba(0, 0, 0, 0.87),
          "400-contrast": rgba(0, 0, 0, 0.87),
          "500-contrast": rgba(0, 0, 0, 0.87),
          "600-contrast": rgba(0, 0, 0, 0.87),
          "700-contrast": rgba(0, 0, 0, 0.87),
          "800-contrast": rgba(0, 0, 0, 0.87),
          "900-contrast": rgba(0, 0, 0, 0.87),
          "A100-contrast": rgba(0, 0, 0, 0.87),
          "A200-contrast": rgba(0, 0, 0, 0.87),
          "A400-contrast": rgba(0, 0, 0, 0.87),
          "A700-contrast": rgba(0, 0, 0, 0.87),
          "contrast-contrast": null,
        ),
        accent: (
          50: #fce4ec,
          100: #f8bbd0,
          200: #f48fb1,
          300: #f06292,
          400: #ec407a,
          500: #e91e63,
          600: #d81b60,
          700: #c2185b,
          800: #ad1457,
          900: #880e4f,
          A100: #ff80ab,
          A200: #ff4081,
          A400: #f50057,
          A700: #c51162,
          contrast: (
            50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: rgba(0, 0, 0, 0.87),
            A200: white,
            A400: white,
            A700: white,
          ),
          default: #ff4081,
          lighter: #ff80ab,
          darker: #f50057,
          text: #ff4081,
          default-contrast: white,
          lighter-contrast: rgba(0, 0, 0, 0.87),
          darker-contrast: white,
          "50-contrast": rgba(0, 0, 0, 0.87),
          "100-contrast": rgba(0, 0, 0, 0.87),
          "200-contrast": rgba(0, 0, 0, 0.87),
          "300-contrast": rgba(0, 0, 0, 0.87),
          "400-contrast": rgba(0, 0, 0, 0.87),
          "500-contrast": white,
          "600-contrast": white,
          "700-contrast": white,
          "800-contrast": white,
          "900-contrast": white,
          "A100-contrast": rgba(0, 0, 0, 0.87),
          "A200-contrast": white,
          "A400-contrast": white,
          "A700-contrast": white,
          "contrast-contrast": null,
        ),
        warn: (
          50: #ffebee,
          100: #ffcdd2,
          200: #ef9a9a,
          300: #e57373,
          400: #ef5350,
          500: #f44336,
          600: #e53935,
          700: #d32f2f,
          800: #c62828,
          900: #b71c1c,
          A100: #ff8a80,
          A200: #ff5252,
          A400: #ff1744,
          A700: #d50000,
          contrast: (
            50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: rgba(0, 0, 0, 0.87),
            A200: white,
            A400: white,
            A700: white,
          ),
          default: #f44336,
          lighter: #ffcdd2,
          darker: #d32f2f,
          text: #f44336,
          default-contrast: white,
          lighter-contrast: rgba(0, 0, 0, 0.87),
          darker-contrast: white,
          "50-contrast": rgba(0, 0, 0, 0.87),
          "100-contrast": rgba(0, 0, 0, 0.87),
          "200-contrast": rgba(0, 0, 0, 0.87),
          "300-contrast": rgba(0, 0, 0, 0.87),
          "400-contrast": rgba(0, 0, 0, 0.87),
          "500-contrast": white,
          "600-contrast": white,
          "700-contrast": white,
          "800-contrast": white,
          "900-contrast": white,
          "A100-contrast": rgba(0, 0, 0, 0.87),
          "A200-contrast": white,
          "A400-contrast": white,
          "A700-contrast": white,
          "contrast-contrast": null,
        ),
        is-dark: false,
        foreground: (
          base: black,
          divider: rgba(0, 0, 0, 0.12),
          dividers: rgba(0, 0, 0, 0.12),
          disabled: rgba(0, 0, 0, 0.38),
          disabled-button: rgba(0, 0, 0, 0.26),
          disabled-text: rgba(0, 0, 0, 0.38),
          elevation: black,
          hint-text: rgba(0, 0, 0, 0.38),
          secondary-text: rgba(0, 0, 0, 0.54),
          icon: rgba(0, 0, 0, 0.54),
          icons: rgba(0, 0, 0, 0.54),
          text: rgba(0, 0, 0, 0.87),
          slider-min: rgba(0, 0, 0, 0.87),
          slider-off: rgba(0, 0, 0, 0.26),
          slider-off-active: rgba(0, 0, 0, 0.38),
        ),
        background: (
          status-bar: #e0e0e0,
          app-bar: #f5f5f5,
          background: #fafafa,
          hover: rgba(0, 0, 0, 0.04),
          card: white,
          dialog: white,
          disabled-button: rgba(0, 0, 0, 0.12),
          raised-button: white,
          focused-button: rgba(0, 0, 0, 0.12),
          selected-button: #e0e0e0,
          selected-disabled-button: #bdbdbd,
          disabled-button-toggle: #eeeeee,
          unselected-chip: #e0e0e0,
          disabled-list-option: #eeeeee,
          tooltip: #616161,
        ),
      ),
    ),
  );
  