@use "@angular/material" as mat;
@import "../variables";

.soft-drinks-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }

  h2 {
    font-size: 36px;
    color: $color-primary;
    margin-bottom: 20px;
  }

  .sorting-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;

    mat-select {
      color: $color-primary;
    }

    app-searchbar {
      flex: 1;
      margin: 0 auto;
    }

    button {
      background-color: $color-primary;
      color: $color-text-primary;
      height: 56px;
      padding: 8px 16px;
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }

  .soft-drinks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

    .soft-drink-item {
      background-color: $color-text-primary;
      padding: 20px;
      text-align: center;
      position: relative;
      overflow: hidden;
      height: 100%;

      .ribbon {
        position: absolute;
        top: 15px;
        left: 0;
        z-index: 1;
        width: 80px;
        height: 60px;
        transform: rotate(90deg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .lidl-ribbon {
        background-image: url("../../assets/Lidl-Logo.svg");
      }

      .kaufland-ribbon {
        background-image: url("../../assets/Kaufland_2016_horizontal.svg.png");
      }

      .fantastico-ribbon {
        background-image: url("../../assets/logo-fantastico@2x.png");
      }

      .billa-ribbon {
        background-image: url("../../assets/Logo_BILLA.svg.png");
      }

      .tmarket-ribbon {
        background-image: url("../../assets/TMarket-Logo.png");
      }

      .discount-ribbon {
        position: absolute;
        top: 10px;
        right: -40px;
        background-color: $color-primary;
        color: $color-text-primary;
        font-size: 18px;
        font-weight: bold;
        padding: 8px 40px;
        transform: rotate(45deg);
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      .product-details {
        .product-image {
          max-height: 200px;
          width: auto;
          margin-bottom: 10px;
          transition: transform 0.3s ease;
          z-index: 0;

          &:hover {
            transform: scale(1.05);
          }
        }

        .product-name {
          font-size: 18px;
          color: $color-text-secondary;
          margin-bottom: 5px;
        }

        .product-price {
          font-size: 24px;
          color: $color-primary;
          margin-bottom: 5px;
        }

        .product-oldprice {
          font-size: 16px;
          color: $color-text-tertiary;
          text-decoration: line-through;
          margin-bottom: 5px;
        }

        .product-validity {
          font-size: 14px;
          color: $color-text-quaternary;
        }
      }
    }
  }
}