@import "../variables";
.soft-drinks-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: $color-background-base;
  box-shadow: 0 4px 8px $color-shadow;
  border-radius: 10px;

  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $color-primary;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px $color-shadow-hover;
  }

  .sorting-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;

    button {
      background-color: $color-primary;
      color: $color-text-primary;
      padding: 12px 24px;
      font-size: 16px;
      margin-left: 15px;
      cursor: pointer;
      border-radius: 30px;
      box-shadow: 0 4px 6px $color-shadow;
      transition: all 0.3s ease;
      border: none;

      &:hover {
        background-color: $color-primary-light;
        transform: translateY(-2px);
        box-shadow: 0 6px 8px $color-shadow-hover;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($color-primary, 0.4);
      }

      &:active {
        background-color: $color-primary-dark;
      }
    }
  }

  .soft-drinks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

    .soft-drink-item {
      background-color: $color-text-primary;
      border-radius: 15px;
      padding: 30px;
      box-shadow: 0 8px 16px $color-shadow;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      overflow: hidden;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 20px $color-shadow-hover;
      }

      .discount-ribbon {
        position: absolute;
        top: 10px;
        right: -40px;
        width: 80px;
        background-color: $color-primary-dark;
        color: $color-text-primary;
        font-size: 18px;
        padding: 8px 30px;
        transform: rotate(45deg);
        box-shadow: 2px 2px 5px $color-shadow;
      }

      .supermarket {
        font-size: 24px;
        color: $color-text-secondary;
        margin-bottom: 20px;
      }

      .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-image {
          max-height: 250px;
          width: auto;
          margin-bottom: 20px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        .product-name {
          font-size: 24px;
          color: $color-text-secondary;
          margin-bottom: 10px;
        }

        .product-price {
          font-size: 36px;
          color: $color-primary;
          margin-bottom: 10px;
        }
        .product-oldprice {
          font-size: 20px;
          color: $color-text-tertiary;
          text-decoration: line-through;
          margin-bottom: 5px;
        }

        .product-validity {
          font-size: 16px;
          color: $color-text-quaternary;
          margin-top: 10px;
        }
      }
    }
  }
}
