<div class="soft-drinks-container">
  <h2 i18n="@@softDrinksTitle">Soft Drinks</h2>
  <div *ngIf="softDrinks.length === 0" class="loading" i18n="@@loadingDrinks">
    Loading soft drinks...
  </div>
  <div class="sorting-options">
    <button (click)="sortBy('price')" i18n="@@sortByPrice">
      Sort by Lowest Price
    </button>
    <button (click)="sortBy('discount')" i18n="@@sortyByDiscount">
      Sort by Highest Discount
    </button>
    <button (click)="switchLanguage()">
      {{ languageNames[currentLanguage] }}
    </button>
  </div>
  <div *ngIf="softDrinks.length > 0" class="soft-drinks-list">
    <ng-container *ngFor="let item of softDrinks">
      <div *ngIf="item.product.oldPrice" class="soft-drink-item">
        <div class="discount-ribbon">
          -{{ calculateDiscount(item.product.price, item.product.oldPrice) }}%
        </div>
        <div
          [ngClass]="{
            ribbon: true,
            'fantastiko-ribbon': item.supermarket === 'Fantastiko',
            'lidl-ribbon': item.supermarket === 'Lidl',
            'kaufland-ribbon': item.supermarket === 'Kaufland',
            'billa-ribbon': item.supermarket === 'Billa',
            'tmarket-ribbon': item.supermarket === 'T-Market'
          }"
        ></div>
        <div class="product-details">
          <img
            *ngIf="item.product.picUrl"
            [src]="item.product.picUrl"
            alt="Product Image"
            class="product-image" 
          />
          <div class="product-price" i18n='@@currency'>{{ item.product.price | number: '1.2-2' }}</div>
          <div class="product-oldprice" i18n='@@currency'>{{ item.product.oldPrice | number: '1.2-2' }}</div>
          <div class="product-name">{{ item.product.name }}</div>
          <div class="product-name">{{ item.product.quantity }}</div>
          <div class="product-validity" i18n='@@validFromUntil'>
            Valid from: {{ item.product.validFrom | date }} - Valid until:
            {{ item.product.validUntil | date }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
